<div class="container my-5">
  <div class="row">
    <div class="col-12 col-lg-4 card sidebar">
      <div class="card-body d-flex flex-column">
        <h4>Ad generator</h4>
        <form>
          <app-form-input-text
            name="'text'"
            [id]="'text'"
            [(ngModel)]="canvasModel.text"
          ></app-form-input-text>
          <div class="form-group">
            <span class="d-block mb-1">Upload image</span>
            <div class="custom-file">
              <input
                type="file"
                accept="image/*"
                class="custom-file-input"
                id="image"
                (change)="uploadImage($event)"
              />
              <label class="custom-file-label" for="image">
                {{ model.imageLabel }}
              </label>
            </div>
          </div>
          <app-form-radio-composition
            name="'composition'"
            [id]="'composition'"
            [options]="compositionOptions"
            [(ngModel)]="canvasModel.compositionId"
          ></app-form-radio-composition>
          <app-form-input-color
            name="'color'"
            [id]="'color'"
            [options]="layout.colors"
            [(ngModel)]="canvasModel.colorId"
          ></app-form-input-color>
        </form>

        <button class="btn btn-outline-primary mt-auto" (click)="download()">
          Download
        </button>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <app-canvas [model]="canvasModel" [layout]="layout"></app-canvas>
    </div>
  </div>
</div>
