<div class="d-flex">
  <div class="sidebar bg-white">
    <div class="card-body my-2">
      <b>Ad Generator</b>
    </div>
    <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <span>Layout</span>
            <button ngbPanelToggle class="btn btn-link p-0">
              <svg
                *ngIf="!opened"
                class="bi bi-chevron-right"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                *ngIf="opened"
                class="bi bi-chevron-down"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <span>Content</span>
            <button ngbPanelToggle class="btn btn-link p-0">
              <svg
                *ngIf="!opened"
                class="bi bi-chevron-right"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                *ngIf="opened"
                class="bi bi-chevron-down"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <form>
            <app-form-input-text
              name="'text'"
              [id]="'text'"
              [label]="'Text'"
              [(ngModel)]="canvasModel.text"
            ></app-form-input-text>
            <app-form-input-text
              name="'footer'"
              [id]="'footer'"
              [label]="'Footer'"
              [(ngModel)]="canvasModel.footer"
            ></app-form-input-text>
          </form>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-3">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <span>Images</span>
            <button ngbPanelToggle class="btn btn-link p-0">
              <svg
                *ngIf="!opened"
                class="bi bi-chevron-right"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                *ngIf="opened"
                class="bi bi-chevron-down"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="form-group">
            <span class="d-block mb-1">Upload image</span>
            <div class="custom-file">
              <input
                type="file"
                accept="image/*"
                class="custom-file-input"
                id="image"
                (change)="uploadImage($event)"
              />
              <label class="custom-file-label" for="image">
                {{ model.imageLabel }}
              </label>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-4">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <span>Color</span>
            <button ngbPanelToggle class="btn btn-link p-0">
              <svg
                *ngIf="!opened"
                class="bi bi-chevron-right"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                *ngIf="opened"
                class="bi bi-chevron-down"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <app-form-input-color
            name="'color'"
            [id]="'color'"
            [options]="layout.colors"
            [(ngModel)]="canvasModel.colorId"
          ></app-form-input-color>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="content d-flex justify-content-center pb-5 px-5">
    <div>
      <div class="d-flex py-4">
        <button class="btn btn-sm btn-outline-primary" (click)="shuffle()">
          Shuffle ⤨
        </button>
        <div class="ml-auto">
          <button
            class="btn btn-sm btn-outline-primary ml-2"
            (click)="download()"
          >
            Download
          </button>
        </div>
      </div>
      <app-canvas [model]="canvasModel" [layout]="layout"></app-canvas>
    </div>
  </div>
</div>
